goServer/bin/gocode.exe
goServer/bin/gopls.exe
goServer/src/server/FileFolder
goServer/src/server/InfoFolder
goServer/src/server/ThumbnailFolder
goServer/src/server/uploads
.gitignore
goServer/src/github.com/tusd
goServer/src/github.com/BurntSushi/toml
goServer/src/github.com/tusd
goServer/src/github.com/tusd
goServer/src/github.com/BurntSushi/toml
goServer/src/golang.org/x/mod
.gitignore
goServer/src/github.com/tusd
goServer/src/github.com/BurntSushi/toml
goServer/src/golang.org/x/mod
goServer/src/golang.org/x/xerrors
AndroidK/local.properties
AndroidK/Pixi.iml
AndroidK/.gradle/5.6.4/gc.properties
AndroidK/.gradle/5.6.4/fileChanges/last-build.bin
AndroidK/.gradle/5.6.4/fileHashes/fileHashes.bin
AndroidK/.gradle/5.6.4/fileHashes/fileHashes.lock
AndroidK/.gradle/buildOutputCleanup/buildOutputCleanup.lock
AndroidK/.gradle/buildOutputCleanup/cache.properties
AndroidK/.gradle/buildOutputCleanup/outputFiles.bin
AndroidK/.gradle/vcs-1/gc.properties
AndroidK/.idea/caches/build_file_checksums.ser
AndroidK/app/app.iml
AndroidK/Pixi.iml
AndroidK/.idea/caches/build_file_checksums.ser
AndroidK/app/app.iml
